<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/style.css">
    <title>Document</title>
</head>
<body>
    <div class="block">
      <img src="../src/Bartman_Tapped_Out.webp" alt="Foto do Candidato 1">
      <div class="info">
        <h2>Candidato 1</h2>
        <p>Posição: Primeira posição</p>
        <p>Localização: Cidade A</p>
      </div>
      <div class="votes">1500 votos</div>
    </div>
  
    <div class="block">
      <img src="../src/Bartman_Tapped_Out.webp" alt="Foto do Candidato 2">
      <div class="info">
        <h2>Candidato 2</h2>
        <p>Posição: Segunda posição</p>
        <p>Localização: Cidade B</p>
      </div>
      <div class="votes">1200 votos</div>
    </div>
  </body>
</html>